
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 .container{
    max-width: 1200px;
    margin:0 auto;
    /* padding-bottom: 5rem; */
 }
 
 section{
    padding:2rem;
 }
 
 .heading{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color:var(--black);
    margin-bottom: 2rem;
 }


.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}

.error{
    padding: 2%;
    color: red;
}
.success{
    padding: 2%;
    color: green;
}


/* CSS for navbar section */

/* .logo{
   
    float: left;
}
.menu{
    line-height: 40px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
} */

/* for new header */
.navbar{
    background-color: #ecebeb;
    margin: 0;
    height: auto;
 }
 
 .logotext{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F6838A;
    font-weight: 400;
 }
 .nav-links{
    font-size: 19px;
    font-weight: 500;
    color: #212934 !important;
    /* padding: 5px; */
 }
 
 .nav-links:hover{
    color:#F6838A !important;
 }
 
 /* .nav-items{
   margin-left: 50px;
    padding: 8px;
 } */
 
 .menu_div{
   text-align: center;
 }
 .midmenu ul{
    text-align: center;
    padding: 3px;
  
    
 }
 
 .nav-icon:hover{
    color:#F6838A !important;
 }
 
 .nav-icon{
    font-size: 21px;
    margin-right: 15px;
    color: #06010c;
    /* margin-top: 10px; */
    padding: 3px;
 }
 
 
 
 .cart{
    /* top:1 rem;
    right:3.4rem;
    padding:0px 6px;
    font-size: small;
    background: red; */
 }
 
 .user{
    /* top: 1rem;
    right: 0.3rem;
    padding: 0px 6px;
    font-size: small;
    background:red ; */
 }

 
/* CSS for about Section */
.parent{
    height: 400px; 
    width: 1200px;
    text-align: center;
    margin-left: 95px;
    margin-top: 30px;
    /* background-color: aqua; */
    
 }
 .child{
    display: inline-block;
    height: 300px;
    width: 400px;
    padding: 1rem 1rem;
    vertical-align: middle;
    background-color: #fcf8f8;
    /* margin-top: 74px; */
 }
 .child img{
    height: 300px;
    width: 400px;
    top: 0px;
    padding: 0;
    margin-top: -15;
    left: 0;
    margin-left: -15px;
  }
  .child h1{
    color: #F6838A;
    font-family: cursive;
    font-weight: 400;
    font-size: 35px;
  }
  .child p{
    text-size-adjust: 20px;
    font-family: sans-serif;
    color:#F6838A;
     }

 /* CSS for Service Section */   
 .services .card-body i{
    font-size: 30px;
    color: #F3F3F3;
 
 }
 .containers h2{
    color: #F6838A;
    
 }
 .card-title{
    font-size: 20px;
 }

 
 .btn-service{
    padding: 4px 10px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
      color:#f5f4f4; 
    background:#F6838A;
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 0 0 0 #F6838A;
  
 
 } 
 
/* CSS for product Search Section */

.product-search{
    background-image: url(../images/t1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.product-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* CSS for Product Menu */
.product-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.product-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.product-menu-img{
    width: 20%;
    float: left;
}

.product-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.product-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.product-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

.product-arrangement-img img{
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

.banner img{
    height: 200px;
    /* object-fit: cover; */
}

#carouselId li:marker{
 content: "";
 display: none;
}


/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .product-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    


    .product-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .product-menu{
        padding: 20% 0;
    }

    .product-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}


/* footer start */
footer{
    box-sizing: border-box;
    font-family: san-serif;
    line-height: 1.2;
 
    background-color: #ecebeb;
    height: 45vh;
 
    display: flex;
    margin-top: auto;
    flex-wrap: wrap;
    padding: 60px 10%;
 }
 
 footer ul{
    list-style: none;
 }
 .footer-col{
    width:23%;
    margin-left: 85px;
   
    /* padding-left: 20px; */
 }
 
 .footer-col h4{
    position:relative;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 22px;
    color:black;
    text-transform: capitalize;
 }
 
 .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -6px;
    background-color: hwb(356 51% 4%);
    height: 2px;
    width: 40px;
 }
  
 .footer-col ul li:not(:last-child){
    margin: bottom 8px;
    
 }
 
 .footer-col ul li a{
    display: block;
    font-size: 18px;
    text-transform: capitalize;
    color:black;
    text-decoration: none;
    transition: 0.4s;
 }
 
 .footer-col ul li a:hover{
    color:hwb(356 51% 4%) ;
    padding-left: 2px;
 }

 .social_icons li{
    float: left;
 }
 /* footer end */


/* product */
.display-product-table table{
    width: 100%;
    text-align: center;
 }
 
 .display-product-table table thead th{
    padding:1.5rem;
    font-size: 2rem;
    background-color: var(--black);
    color:var(--white);
 }
 
 .display-product-table table td{
    padding:1.5rem;
    font-size: 2rem;
    color:var(--black);
 }
 
 .display-product-table table td:first-child{
    padding:0;
 }
 
 .display-product-table table tr:nth-child(even){
    background-color: var(--bg-color);
 }
 
 .display-product-table .empty{
    margin-bottom: 2rem;
    text-align: center;
    background-color: var(--bg-color);
    color:var(--black);
    font-size: 2rem;
    padding:1.5rem;
 }
 
 .edit-form-container{
    position: fixed;
    top:0; left:0;
    z-index: 1100;
    background-color: var(--dark-bg);
    padding:2rem;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
 }
 
 .edit-form-container form{
    width: 50rem;
    border-radius: .5rem;
    background-color: var(--white);
    text-align: center;
    padding:2rem;
 }
.edit-form-container form .box{
    width: 100%;
    background-color: var(--bg-color);
    border-radius: .5rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:var(--black);
    padding:1.2rem 1.4rem;
    text-transform: none;
 }
 
 .products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap:1.5rem;
    justify-content: center;
 }
 
 .products .box-container .box{
    text-align: center;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
 }
 
 .products .box-container .box img{
    height: 25rem;
 }
 
 .products .box-container .box h3{
    margin:1rem 0;
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .products .box-container .box .price{
    font-size: 2.5rem;
    color:var(--black);
 }


 /* shopping cart css */
 .shopping-cart table{
    text-align: center;
    width: 100%;
 }
 
 .shopping-cart table thead th{
    padding:1.5rem;
    font-size: 2rem;
    color:var(--white);
    background-color: var(--black);
 }
 
 .shopping-cart table tr td{
    border-bottom: var(--border);
    padding:1.5rem;
    font-size: 2rem;
    color:var(--black);
 }
 
 .shopping-cart table input[type="number"]{
    border: var(--border);
    padding:1rem 2rem;
    font-size: 2rem;
    color:var(--black);
    width: 10rem;
 }
 
 .shopping-cart table input[type="submit"]{
    padding:.5rem 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: var(--orange);
    color:var(--white);
 }
 
.shopping-cart table input[type="submit"]:hover{
    background-color: var(--black);
 }
 
.shopping-cart table .table-bottom{
    background-color: var(--bg-color);
 }
 
.shopping-cart .checkout-btn{
    text-align: center;
    margin-top: 1rem;
 }
 
.shopping-cart .checkout-btn a{
    display: inline-block;
    width: auto;
 }
 
.shopping-cart .checkout-btn a.disabled{
    pointer-events: none;
    opacity: .5;
    user-select: none;
    background-color: var(--red);
 }



@media (max-width:1200px)
{

   .shopping-cart{
      overflow-x: scroll;
   }

   .shopping-cart table{
      width: 120rem;
   }

   .shopping-cart .heading{
      text-align: left;
   }

   .shopping-cart .checkout-btn{
      text-align: left;
   }

}

.heading{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color:var(--black);
    margin-bottom: 2rem;
 }

 @media (max-width:450px){

    html{
       font-size: 50%;
    }
 
    .heading{
       font-size: 3rem;
    }
 
    .products .box-container{
       grid-template-columns: 1fr;
    }
 
 }

 /* button */
.delete-btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: var(--blue);
   color:var(--white);
   font-size: 1.7rem;
   padding:1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}


.delete-btn:hover{
   background-color: var(--black);
}


.delete-btn i{
   padding-right: .5rem;
}

.delete-btn{
   background-color: var(--orange);
}

.delete-btn{
   margin-top: 0;
   background-color: var(--red);
}

.option-btn{
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--blue);
    color:var(--white);
    font-size: 1.7rem;
    padding:1.2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
 }
 
 
.option-btn:hover{
    background-color: var(--black);
 }
 
 
.delete-btn i{
    padding-right: .5rem;
 }
 
.delete-btn{
    background-color: var(--orange);
 }
 
 .delete-btn{
    margin-top: 0;
    background-color: var(--red);
 }

/* order css */
.checkout-form form{
    padding:2rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
 }
 
 .checkout-form form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 
 .checkout-form form .flex .inputBox{
    flex:1 1 40rem;
 }
 
 .checkout-form form .flex .inputBox span{
    font-size: 2rem;
    color:var(--black);
 }
 
 .checkout-form form .flex .inputBox input,
 .checkout-form form .flex .inputBox select{
    width: 100%;
    background-color: var(--white);
    font-size: 1.7rem;
    color:var(--black);
    border-radius: .5rem;
    margin:1rem 0;
    padding:1.2rem 1.4rem;
    text-transform: none;
    border:var(--border);
 }
 
 .display-order{
    max-width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    text-align: center;
    padding:1.5rem;
    margin:0 auto;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
 }
 
 .display-order span{
    display: inline-block;
    border-radius: .5rem;
    background-color: var(--bg-color);
    padding:.5rem 1.5rem;
    font-size: 2rem;
    color:var(--black);
    margin:.5rem;
 }
 
 .display-order span.grand-total{
    width: 100%;
    background-color: var(--red);
    color:var(--white);
    padding:1rem;
    margin-top: 1rem;
 }
 
 .order-message-container{
    position: fixed;
    top:0; left:0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: var(--dark-bg);
    width: 100%;
 }
 
 .order-message-container::-webkit-scrollbar{
    width: 1rem;
 }
 
 .order-message-container::-webkit-scrollbar-track{
    background-color: var(--dark-bg);
 }
 
 .order-message-container::-webkit-scrollbar-thumb{
    background-color: var(--blue);
 }
 
 .order-message-container .message-container{
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
 }
 
 .order-message-container .message-container h3{
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .order-message-container .message-container .order-detail{
    background-color: var(--bg-color);
    border-radius: .5rem;
    padding:1rem;
    margin:1rem 0;
 }
 
 .order-message-container .message-container .order-detail span{
    background-color: var(--white);
    border-radius: .5rem;
    color:var(--black);
    font-size: 2rem;
    display: inline-block;
    padding:1rem 1.5rem;
    margin:1rem;
 }
 
 .order-message-container .message-container .order-detail span.total{
    display: block;
    background: var(--red);
    color:var(--white);
 }
 
 .order-message-container .message-container .customer-details{
    margin:1.5rem 0;
 }
 
 .order-message-container .message-container .customer-details p{
    padding:1rem 0;
    font-size: 2rem;
    color:var(--black);
 }
 
 .order-message-container .message-container .customer-details p span{
    color:var(--blue);
    padding:0 .5rem;
    text-transform: none;
 }
 
 
 
 

  
